
h1{
    color:brown; 
    border:solid;
    text-align: center;
}
body {
    
  margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
background-color:white;
border: 2px solid black;
text-align: center;
background-image: url('bg.jpg');
width: auto;
height: auto;
}
.image{
    color: sienna;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    background-color:goldenrod;
}
.image h2{
  position: absolute;
  top:40%;
  left: 74%;
  transform:translate(-50%,-50%);
  opacity:1;
}
.in{
font-size: xx-large;
}
.cd{
  font-size: x-large;
  }
  p{
    text-align: center;
    color: rgb(9, 42, 104);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xx-large;
  }
  .details{
    text-align: center;
    color: black;
    font-weight: bold;
  }

.steps:hover img{
    opacity:1;
    
}